@import "./variables.scss";

// FONTS
@mixin titleUppercase() {
  font-family: $fontHeading;
  font-weight: 500;
  text-transform: uppercase;
}

@mixin titleNormal() {
  font-family: $fontHeading;
  font-weight: 400;
}

// BUTTONS
@mixin buttonBody(
  $bgColor,
  $borderColor,
  $boxShadow,
  $color,
  $hoverBgColor,
  $actBtnShadow
) {
  border-radius: 0px;
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  font-size: 18px;
  padding: 0 18px;
  line-height: 50px;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  background-color: $bgColor;
  border: 2px solid $borderColor;
  box-shadow: $boxShadow 4px 4px 0 0;
  color: $color;

  &:active {
    transform: translate(2px, 2px);
  }

  &:hover {
    background-color: $hoverBgColor;
  }

  &:active {
    box-shadow: $actBtnShadow 2px 2px 0 0;
  }
}

@mixin greenButton {
  @include buttonBody(
    $greenColor4,
    $brownColor1,
    $brownColor1,
    $brownColor1,
    $whiteColor1,
    $brownColor1
  );
}

@mixin redButton {
  @include buttonBody(
    $redColor4,
    $brownColor1,
    $brownColor1,
    $brownColor1,
    $whiteColor1,
    $brownColor1
  );
}

@mixin blueButton {
  @include buttonBody(
    $blueColor4,
    $brownColor1,
    $brownColor1,
    $brownColor1,
    $whiteColor1,
    $brownColor1
  );
}

@mixin yellowButton {
  @include buttonBody(
    $yellowColor4,
    $brownColor1,
    $brownColor1,
    $brownColor1,
    $whiteColor1,
    $brownColor1
  );
}

// INPUTS
.input-text {
  width: 100%;
  background-color: rgb(255, 255, 255);
  border: 0.5px solid $brownColor1;
  padding: 6px 7px;
}

.required-hash {
  color: $redColor3;
}
