// MAIN COLORS
$orangeColor1: #f3a446;

$brownColor1: #422800;
$brownColor2: #a06235;
$brownColor3: #ebbb9478;
$brownColor4: #fbeee0;

$blackColor1: #000;
$blackColor2: #141313;

$whiteColor1: #ffff;
$whiteColor2: #efefef;
$whiteColor3: #ffffff5b;

// GENERIC COLORS

$greenColor4: #77dd8d;

$blueColor4: #61abff;

$yellowColor4: #ffef61;

$redColor4: #ff6961;

// FONTS
$fontHeading: "Roboto Serif", serif;
$fontBody: "Open Sans", sans-serif;
