@import "../variables.scss";

@mixin titleUppercase() {
  font-family: $fontHeading;
  font-weight: 500;
  text-transform: uppercase;
}

@mixin titleNormal() {
  font-family: $fontHeading;
  font-weight: 400;
}
