@import "../../assets/scss/variables.scss";
@import "../../assets/scss/mixins.scss";

.nav-user-info {
  text-align: center;
  width: 100%;
  background-color: $blackColor1;
  border: 1px solid $whiteColor3;
  padding: 8% 0;

  h5 {
    @include textSmall();
    color: $whiteColor1;
    margin-top: 2.5%;
  }

  img {
    width: 40%;
    border-radius: 100%;
    border: 2px solid $whiteColor3;
  }

  button {
    background-color: transparent;
    color: $whiteColor1;
    border: 1px solid $whiteColor1;
    padding: 5px 30px;

    &:hover {
      background-color: $brownColor2;
    }
  }
}
