// CUSTOMS BUTTONS
.rock {
  background-color: #945151;
}
.ghost {
  background-color: #f7f7f7;
}
.electric {
  background-color: #fece01;
}
.bug {
  background-color: #f0be74;
}
.poison {
  background-color: #e0a7f6;
}
.normal {
  background-color: #aeadac;
}
.fairy {
  background-color: #ffc0cbdc;
}
.fire {
  background-color: #ff9a00;
}
.grass {
  background-color: #387f28;
}
.water {
  background-color: #70b1ff;
}
.ground {
}

// CUSTOMS BACKGOROUND

.rock-background {
  background-color: #945151;
}
.ghost-background {
  background-color: #f7f7f7;
}
.electric-background {
  background-color: #fece01;
}
.bug-background {
  background-color: #f0be74;
}
.poison-background {
  background-color: #e0a7f6;
}
.normal-background {
  background-color: #aeadac;
}
.fairy-background {
  background-color: #ffc0cbdc;
}
.fire-background {
  background-color: #ff9a00;
}
.grass-background {
  background-color: #387f28;
}
.water-background {
  background-color: #516885;
}
.ground-background {
}




.nav-link {
  color: #000;
}