.pokedex-list-container {
  .cards-container {
    width: 100%;
    margin: 0 auto;
  }
}
.pokemon-card-container {
  margin: 0.625rem 0;
  text-align: center;

  .text-pokemon-info {
    margin-bottom: 0.2rem;

    span {
      text-transform: capitalize;
      font-size: 19px;
      font-weight: 500;
    }
  }

  img {
    width: 75%;
  }
}

.button-pokemon-type {
  padding: 3px 25px;
  border-radius: 20px;
  color: #fff;
  border: none;

  span {
    font-weight: 400;
  }
}
